version: '3.8'

volumes:
  pg_data:
  static:

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: MainDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  backend:
    build: ./backend/
    expose:
      - "5089"
    depends_on:
      - postgres
      - frontend
  
  frontend:
    build: ./frontend/
    expose:
      - "8080"
    volumes:
      - static:/staticfiles/

  gateway:
    build: ./gateway/
    ports:
      - "80:80"
    depends_on:
      - backend
    volumes:
      - static:/staticfiles/