version: '3.8'
services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: MainDB
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
  
  backend:
    build: ./backend/
    ports:
      - "8080:5089"